.head{
    margin-top: 50px;

}
.bg-gray{
    background-color: #f2f2f2;
}
.down{
    margin-top: 100px;
}
.vertical{
    vertical-align: top;
}
.borders{
    border: 3px solid #bce8f1;
    padding: 0;
}
.size{
    height: auto;
    width: 99%;

    /*position: initial;*/
}
