{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todos los pagos</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
</head>
<body>
<header>
</header>
<article>
         <div class="head">
            <div class="container">
                <div class="row">
                    <div class="col-xs-9 col-sm-9">
                        <h1 class="bg-gray table-bordered text-uppercase text-center"><i>Administra aquí todos los pagos de tus trabajos</i></h1>
                    </div>
                </div>
            </div>
         </div>
            <section>
            <div class="container">
                <div class="row">
                    <div class="text-center col-xs-9 col-sm-9 ">
                        {% for payment in allpayments %}
                            <a href="/api/rest/payments/{{ payment.id }}">{{ payment.date }}</a>
                            <a href="/api/rest/services/{{ payment.service.id }}">de el trabajo {{ payment.service.name }}</a>
                            <br>
                        {% endfor %}
                    </div>
                </div>
            </div>
            </section>
        </article>
    <footer>
    </footer>
</body>
</html>